<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
</div>

<h1>Admin Dashboard</h1>

<table>

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
</tr>

{% for product in products %}

<tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>₹{{ product.price }}</td>
</tr>

{% endfor %}

</table>

</body>
</html>